.banner {
    background-color: #6278F7;
    text-align: center;
}

.banner img {
    max-width: 100%;
}

@media only screen and (max-width: 767px) {
    .banner {
        padding: 41px; 
        width: 80%;
    }
}